@charset "utf-8";

.uk {
  color: #00ac9a;
}

.us {
  color: #5D99FF;
}

p.uk, p.us {
  position: relative;
  margin: 1em 0 1em 0;
  background: #fff6e6;
  box-shadow: 0 2px 3px rgba(0,0,0,.22);
  padding: 22px 8px 22px 8px;
  background-color: #fff6e6;
  background-image:linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff6e6 0%, #fff6e6 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, #add8e6 100%);
  background-size: 8px 100%,100% 2em; line-height: 2; font-weight: normal;
}

.uk:after {
  position: absolute;
  content: "\01F984";
  right : 20px;
  top : 5px;
  font-size: 1.3em;
}

.us:after {
  position: absolute;
  content: "\01F40B";
  right : 20px;
  top : 5px;
  font-size: 1.3em;
}
